<div class="row">
  <app-sidebar></app-sidebar>
  <div class="col-lg-6 col-md-12">
<div *ngIf="identity" class="new-publication mb-4">

  <a *ngIf="identity" href="#newPublication" role="button" data-toggle="modal" class="card-link btn btn-block btn-outline-primary">
    <i class ="fa fa-edit"></i> Nueva publicacion</a>
  <div class="modal fade" id="newPublication">
    <div class="modal-dialog">
      <div class="modal-content">
        <app-publication (sent)="refreshTimeline($event)"></app-publication>
      </div>
    
    </div>
  </div>

</div>

<!-- componente de publicaciones de usuario-->
<div class="card border-0 mb-3" *ngFor="let publication of publications">



<div class="card-body bg-light" style="max-width: 100%;">
  
    <div class="mt-4" *ngIf="publication.file != 'null'">
      <img src="{{ url + 'publication/image/' + publication.file}}" alt="" class="img-fluid">
  </div>


 
  <p class="h4 mt-4">{{publication.title}}</p> 

<p class="mt-3" style="white-space: pre-line">{{publication.text}}</p>

   
  
  
</div>


<div class="card-body bg-light">
  <div class="mt-2">
    <div class="float-left">
      <img *ngIf="identity.image" src="{{ url + 'get-image-user/'+ publication.user.image}}"
      class="img-thumbnail rounded-circle mb-3 mt-2" width="40px">
  <a [routerLink]="['/profile/'+identity._id]" class="ml-2">
    <small>{{publication.user.nick}}</small>
  </a>
  <span class="text-secondary">
    <small> {{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}</small>
  </span>
    </div>
    <div class="float-right">
      <button class="btn btn-outline-warning btn-sm card-link" (click)="likePublication(publication._id)">
        <i class="fa fa-heart"></i> !
      </button>
      <button class="btn btn-outline-info btn-sm card-link"><span class="badge"><i class="fa fa-bolt"></i></span>
        Hotlist</button>
        <a *ngIf="publication.user._id == identity._id" href="#myModal-{{publication._id}}" role="button" data-toggle="modal" class="card-link btn btn-sm btn-outline-danger">
          <span class="badge"> <i class ="fa fa-times"></i></span> Eliminar</a>
    </div>

 </div>
</div>





<!--Modal HTML-->
<div id="myModal-{{publication._id}}" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Eliminar publicacion</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   
  </div>
  <div class="modal-body">
    <p>Desea eliminar la publicacion</p>
    <p class="h4">{{publication.title}}</p>
    <p class="text-danger"><small>Los cambios no podran ser revertidos.</small></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="button"  data-dismiss="modal" (click)="deletePublication(publication._id)" class="btn btn-primary">Eliminar publicacion</button>
  </div>
</div>
</div>
</div>
</div>
</div>
<app-hostlist-sidebar></app-hostlist-sidebar>

</div>

<hr>
<div class="container">
  <div class="col-10" *ngIf="publications && publications.length">
    <button class="btn btn-outline-secondary mx-auto mt-3" (click)="viewMore()" *ngIf="!noMore">Ver mas
      publicaciones</button>
  </div>
</div>



  
  
  
  
 


