<div class="container">
  <div class="row">
    <div class="col-8 mt-3">
      <h4 class="p">{{title}}</h4>
      <hr>
      <div class="alert alert-warning" *ngIf="status=='error'">Unable to register new user</div>
      <div class="alert alert-success" *ngIf="status=='success'">User registered successfuly, <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login Here!</a> </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-10">
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
    <div *ngIf="!name.valid && name.touched" class="alert alert-warning" role="alert">
      Name required
    </div>
    </div>
    <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
    <div *ngIf="!surname.valid && surname.touched" class="alert alert-warning" role="alert">
      Surname required
    </div>
    </div>
    <div class="form-group"> 
    <label for="nick">Nick</label>
    <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required>
    <div *ngIf="!nick.valid && nick.touched" class="alert alert-warning" role="alert">
      Nick required
    </div>
    </div>
    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
    <div *ngIf="!email.valid && email.touched" class="alert alert-warning" role="alert">
      Email reqiured
    </div>
    </div>
    <div class="form-group">
    <label for="tel">Tel</label>
    <input type="text" name="tel" #tel="ngModel" [(ngModel)]="user.tel" class="form-control">
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
    <div *ngIf="!password.valid && password.touched" class="alert alert-warning" role="alert">
      password required
    </div>
    </div>
    <p>
      If you register to Andhis you accept the politics.
    </p>
    <input type="submit" value="{{title}}" class="btn btn-warning"/>
    </form>
    </div>
    <div class="col-4">
  <app-politics></app-politics>
  </div>

  </div>

</div>

