<div class="card hotlist">
  <div class="card-header bg-light text-primary">
    <h5> <i class="fa fa-bolt"></i> Hotlists</h5>
  </div>
  <div>
    <div *ngFor="let hotlist of hotlists">
      <div class="hl-sidebar-header">
       <p>
        {{hotlist.listname}}
        <span class="badge badge-pill badge-primary">{{htcount.htcount}}</span>
        </p> 
        <small>Por: {{hotlist.user.name}} {{hotlist.user.surname}}</small>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <app-hotlistitem #htcount [hotlist]="hotlist._id"></app-hotlistitem>
        </li>
      </ul>
    </div>
  </div>
</div>
