
  

  
       
  
          <div class="card border-secondary col-lg-12 m-2" *ngFor="let user of users">
               <div class="card-body">
                <div class="row">
                  <div class="user-image col-lg-2">
                    <img *ngIf="user.image" class="img rounded-circle" src="{{ url + 'get-image-user/' + user.image }}" style="max-width: 25px;" alt="">
                    </div>
                  
            
                  <div class="userinfo col-lg-7">
                    <p style="line-height:.5em; padding-bottom:0px; margin-bottom:5px;">
                      <a *ngIf="user._id != identity._id" class="text-primary" [routerLink]="['/profile/'+user._id]">{{user.name}} {{user.surname}}</a>
                      </p>
                     <small *ngIf="user.description" class="text-secondary">
                      {{user.description}}
                    </small>
                    </div>
                    <div class="col-lg-3">
                      <span *ngIf="user._id != identity._id">
                        <button *ngIf="follows.indexOf(user._id) <= 0" class="btn btn-outline-success pull-right" (click)="followUser(user._id)"><i class="fa fa-binoculars"></i> Follow</button>
                        <button  *ngIf="follows.indexOf(user._id) > 0" href="#" class="btn btn-outline-primary btn-sm" (click)="unFollowUser(user._id)"> Following</button>
                        </span>
                        <p *ngIf="follows.indexOf(user._id) > 0" class="badge badge-success"><i class="fa fa-binoculars"></i> Following </p>
                

                    </div>
                  
                  </div>
               
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li *ngIf="page >1" class="page-item"><a class="page-link" [routerLink]="['/users',prev_page]">Previous</a></li>
              <li *ngIf="pages != page || !page" class="page-item"><a class="page-link" [routerLink]="['/users',next_page]">Next</a></li>
            </ul>
          </nav>


 
   
  
  
  
