<div class="container">
<div class="card col-lg-8 mt-3">
    <div class="card-body bg-light">
        <div class="mt-2">
          <div class="float-left">
            <img *ngIf="identity.image" src="{{ url + 'get-image-user/'+ publication.user.image}}"
              class="img-thumbnail rounded-circle mb-3 mt-2" width="40px">
            <a [routerLink]="['/profile/'+publication.user]" class="ml-2">
              <small>{{publication.user.nick}}</small>
            </a>
            <span class="text-secondary">
              <small> {{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}</small>
            </span>
          </div>
          <div class="float-right">
            <button class="btn btn-outline-warning btn-sm card-link">
              <i class="fa fa-heart"></i> !
            </button>
            <a class="btn btn-outline-info btn-sm card-link" href="#addHotlist-{{publication._id}}" role="button"
              data-toggle="modal"><span class="badge"><i class="fa fa-bolt"></i></span>
              Hotlist</a>
            <a *ngIf="publication.user._id == identity._id" href="#myModal-{{publication._id}}" role="button"
              data-toggle="modal" class="card-link btn btn-sm btn-outline-danger">
              <span class="badge"> <i class="fa fa-times"></i></span> Eliminar</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h1 class="h1">{{publication.title}}</h1>
        <div class="mt-4" *ngIf="publication.file != 'null'">
            <img src="{{ url + 'publication/image/' + publication.file}}" alt="" class="img-fluid">
          </div>
        </div>
      <div class="card-body">
        <p style="white-space: pre-line">{{publication.text}}</p>
      </div>
      </div>
    

</div>


