

<div class="mt-3 alert alert-light alert-dismissible fade show" role="alert">
    <h5>
        Politicas de uso y privacidad Andhis
    </h5>
    <p>Nota: esta aplicación es sólo para uso de pruebas</p>
    <p>Los usuarios se hacen cargo del uso incorrecto de Andhis</p>
    <p>Disfruten mientras sea libre, y si quieren colaborar,</p>
    <p>Sus datos sólo serán guardados de manera encriptada en la base de datos de Andhis
        y no serán compartidos con terceros.
    </p>
    <p>Los administradores se reservan el derecho de dar de baja a los usuarios que hagan un uso indebido de la aplicación</p>
    <p>Contacto con el desarrollador: https://github.com/jacovinus</p>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>