

<div class="mt-3 alert alert-light alert-dismissible fade show" role="alert">
    <h5>
        Politics of use and privacy of Andhis
    </h5>
    <p>Note: this aplication is just for test using</p>
    <p>Users are in charge of bad use of Andhis</p>
    <p>Enjoy meanwhile it's free and if you want to collaborate</p>
    <p>Your data only will be saved and encrypted in the Andhis database 
    </p>
    <p>The administrators has the right to kick the users that makes bad using of the platform</p>
    <p>Contact with developer: https://github.com/jacovinus</p>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>