        
        <div class="home container-fluid">

            <div class="row">
                <div class="col-lg-2 d-none d-xl-block">
                    <app-sidebar *ngIf="identity"></app-sidebar>
                </div>
              
             <div class="col-lg-7">
                 <router-outlet></router-outlet>
              <!-- <app-timeline *ngIf="identity"></app-timeline> -->  
             </div>
             <div class="col-lg-3 mt-2">
                <app-hostlist-sidebar *ngIf="identity"></app-hostlist-sidebar>
             </div>
            </div>
        </div>
      



