
    <div *ngIf="identity" class="new-publication mb-4">

      <a *ngIf="identity"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
        class="card-link btn btn-block btn-outline-primary">
        <i class="fa fa-edit"></i> Nueva publicacion</a>
      <div class="collapse" id="collapseExample">
        <div class="modal-dialog">
          <div class="modal-content">
            <app-publication (sent)="refreshTimeline($event)"></app-publication>
          </div>

        </div>
      </div>

    </div>
    <div class="publications-container">
    <!-- user publications component-->
    <div class="timeline-publication mb-3" *ngFor="let publication of publications">
       <!-- barra de datos de autor de la publicacion-->
      <div class="card-body">
        
          <div class="d-inline align-middle">
            <img *ngIf="identity.image" src="{{ url + 'get-image-user/'+ publication.user.image}}"
              class="mt-2" width="40px">
            <a [routerLink]="['/profile/'+publication.user._id]" class="ml-2">
              <small>{{publication.user.nick}}</small>
            </a>
            <span class="text-secondary">
              <small> {{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}</small>
            </span>
          </div>
          <div class="d-inline float-right">
            <button class="btn btn-outline-warning btn-sm card-link" (click)="likePublication(publication._id)">
              <i class="fa fa-heart"></i> !
            </button>
            <a class="btn btn-outline-info btn-sm card-link" href="#addHotlist-{{publication._id}}" role="button"
              data-toggle="modal"><span class="badge"><i class="fa fa-bolt"></i></span>
              Hotlist</a>
            <a *ngIf="publication.user._id == identity._id" href="#myModal-{{publication._id}}" role="button"
              data-toggle="modal" class="card-link btn btn-sm btn-outline-danger">
              <span class="badge"> <i class="fa fa-times"></i></span> Eliminar</a>
          </div>

      </div>
      <div class="card-body" style="max-width: 100%;">
        <div class="timeline-img" *ngIf="publication.file != 'null'">
          <img src="{{ url + 'publication/image/' + publication.file}}" alt="" class="img-fluid">
        </div>
        <a [routerLink]="['/publication/'+publication._id]">
          <h1 class="timeline-publication-heading mt-4">{{publication.title}}</h1>
        </a>
        <p class="mt-3" style="white-space: pre-line">{{(publication.text | textPreview: 400 : '...')}}</p>
        <a *ngIf="publication.text.length > 400" [routerLink]="['/publication/'+publication._id]">
          <p class="text-warning text-center mt-4">Continuar Leyendo</p>
        </a>
      </div>
   

      <!--fin datos de autor-->

      <app-hotlist-popup [publication]="publication._id"></app-hotlist-popup>

      <!--Modal HTML-->
      <div id="myModal-{{publication._id}}" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete publication</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
              <p>Do you want to delete the publication</p>
              <p class="h4">{{publication.title}}</p>
              <p class="text-danger"><small>The changes couldn't be reverted</small></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" data-dismiss="modal" (click)="deletePublication(publication._id)"
                class="btn btn-primary">Delete publication</button>
            </div>
          </div>
        </div>
      </div>

    </div>
 

  </div>
    <!-- Fin publicaciones-->
    <div class="container">
      <div class="col-10" *ngIf="publications && publications.length">
        <button class="btn btn-outline-secondary mx-auto mt-3" (click)="viewMore()" *ngIf="!noMore">More</button>
      </div>
    </div>

