<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="alert alert-success mt-3">
        <p class="lead">
          {{title}}
        </p>
      </div>
      <div class="card border-secondary mb-3" *ngIf="identity">
        <div class="card-header">
          <i class="fa fa-bolt"></i> Nuevo Hotlist
        </div>
        <div class="card-body">
          <form #newHotlistForm="ngForm" (ngSubmit)="onSubmit(newHotlistForm)">
            <div class="form-group">
              <input type="text" name="listname" #listname="ngModel" [(ngModel)]="hotlist.listname" class="form-control"
                id="listname">
              <div>
                <div class="alert alert-success" *ngIf="this.status=='success'">Hotlist creado correctamente</div>
                <div class="alert alert-danger" *ngIf="this.status=='error'">No se ha podido crear el Hotlist</div>
              </div>

            </div>
            <button type="submit" class="btn btn-outline-success pull-right">Crear Hotlist</button>
          </form>
        </div>
      </div>

      <div *ngFor="let hotlist of hotlists" class="card mb-3">
        <div class="card-header">
          <p class="lead pull-left">
            {{hotlist.listname}}
          </p>
          <p class="pull-right">
            Creado por: {{hotlist.user.name}} {{hotlist.user.surname}}
          </p>
        </div>
        <div class="card-body">
          <app-hotlistitem [hotlist]="hotlist._id"></app-hotlistitem>
          <p class="badge badge-primary">
            {{(hotlist.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
          </p>
          <button *ngIf="identity._id === hotlist.user._id" class="btn btn-sm btn-warning pull-right" (click)="deleteHotlist(hotlist._id)">Eliminar
            Hotlist</button>
        </div>

      </div>

    </div>

  </div>

</div>
