<div id="addHotlist-{{publication}}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar a hotlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Seleccione el hotlist al que desea agregar la publicacion</p>
        <p class="h4">{{publication.title}}</p>
        <select class="custom-select" (change)="hotlistSelector($event)">
          <option *ngFor="let listitem of list" [value]="listitem._id">{{listitem.listname}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" data-dismiss="modal" (click)="addHotlistItem(listItem,publication)"
          class="btn btn-primary">Agregar a Hotlist</button>
      </div>
    </div>
  </div>
</div>